body{
    margin:0px;
    font-family: Speedee,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif;
}


.header{
    height: 140px;
    width: 100%;
    background-color: #fff;
}
.image1{

    margin-left: 161px;
    margin-top: 15px;
    cursor:pointer;
}
.language{
    border-color: transparent;
    position: absolute;
    top: 25px;
    left: 335px;
    font-family: Speedee,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif;
    font-size: 14px;
    cursor:pointer;
}
.our-menu{
    border-color: transparent;
    position: absolue;
    position: absolute;
    top: 76px;
    left: 333px;
    font-family: Speedee,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif;
    font-weight:bold;
    cursor:pointer;
}
.email{
    position: absolute;
    top: 13px;
    left: 468px;
    font-size: 14px;
    cursor:pointer;
}
.career{
    position: absolute;
    top: 13px;
    left: 614px;
    font-size: 14px;
    cursor:pointer;
}
.search{
    position: absolute;
    top: 30px;
    left: 945px;
    font-size: 13px;
    background: #fff;
    border-color: transparent;
    cursor:pointer;

}
.location{
    position: absolute;
    top: 17px;
    left: 1033px;
    font-size: 14px;
    color: #006bae;
    text-decoration: underline;
    cursor:pointer;

}
.order{
    position: absolute;
    top: 25px;
    left: 1192px;
    font-size: 14px;
    background-color: #ffbc0d;
    border-radius: 4px;
    border-color: transparent;
    height: 39px;
    width: 111px;
    cursor:pointer;

}
.download-ap{
    position: absolute;
    top: 58px;
    left: 470px;
    font-weight: bold;
    font-size: 16px;
    cursor:pointer;

}
.reward{
    position: absolute;
    top: 58px;
    left: 625px;
    font-weight: bold;
    font-size: 16px;
    cursor:pointer;

}
.exclusive{
    position: absolute;
    top: 58px;
    left: 837px;
    font-weight: bold;
    font-size: 16px;
    cursor:pointer;

}
.about-food{
    position: absolute;
    top: 58px;
    left: 982px;
    font-weight: bold;
    font-size: 16px;
    cursor:pointer;

}
.locate{
    position: absolute;
    top: 58px;
    left: 1134px;
    font-weight: bold;
    font-size: 16px;
    cursor:pointer;

}
.line{
    border:0.5px solid #f2f5f4;
}
.main{
    width:100%;
    height:1890px;
    background-color: #fff;
}
.left-main{
    width:63%;
    float:left;
    height:1890px;
    background-color: #fff;
}
.right-main{
    width:37%;
    float:left;
    height:1800px;
    background-color: #ffff;
    margin-top: 71px;
}
.img2{
    width: 732px;
    height: 305px;
    position: absolute;
    top: 15em;
    left: 9em;
}
.img3{
    width: 732px;
    height: 305px;
    position: absolute;
    top: 43em;
    left: 9em;
}
.img4{
    width: 732px;
    height: 305px;
    position: absolute;
    top: 72em;
    left: 9em;
}
.img5{
    width: 732px;
    height: 305px;
    position: absolute;
    top: 99em;
    left: 9em;
}
.h1{
    font-size: 36px;
font-weight: 700;
line-height: 40px;
color: #292929;
letter-spacing: -.15px;
}
.p2{
    font-size: 10px;
    line-height: 1.45;
    color: #292929
}
.b1{
    background-color: #ffbc0d;
    border-color: transparent;
    height: 40px;
    width: 144px;
    border-radius: 5px;
    margin-bottom: 102px;
    cursor:pointer;

}
.b2{
    background-color: #ffbc0d;
    border-color: transparent;
    height: 40px;
    width: 131px;
    border-radius: 5px;
    margin-bottom: 104px;
    cursor:pointer;
    

}
.b3{
    background-color: #ffbc0d;
    border-color: transparent;
    height: 49px;
    width: 186px;
    border-radius: 5px;
    margin-bottom: 177px;
    cursor:pointer;
    

}
.b4{
    background-color: #ffbc0d;
    border-color: transparent;
    height: 49px;
    width: 186px;
    border-radius: 5px;
    margin-top: 31px;
    cursor:pointer;
}
.footer{
    width:100%;
    height: 310px;
    background-color:#fff;
}
.f1{
    width: 12%;
    float: left;
    height: 310px;
    padding-left: 180px;
    

}
.f2{
    width: 13%;
    float: left;
    height: 310px;
    padding-left: 149px;

}
.f3{
    width: 13%;
    float: left;
    height: 310px;
    padding-left: 136px;

}
.f4{
    width: 13%;
    float: left;
    height: 310px;
    padding-left: 156px;

}
.secondary-footer{
    height: 108px;
    width: 1220px;
    background-color: #fff;
    padding-left: 178px;

}
.icon8{
    position: absolute;
    top: 2360px;
    left: 1228px;
    cursor:pointer;

}
.icon7{
    position: absolute;
    top: 2361px;
    left: 1060px;
    cursor:pointer;

}
.icon6{
    position: absolute;
    top: 2361px;
    left: 483px;
    cursor:pointer;

}
.icon5{
    position: absolute;
    top: 2361px;
    left: 421px;
    cursor:pointer;

}
.icon4{
    position: absolute;
    top: 2361px;
    left: 360px;
    cursor:pointer;

}
.icon3{
    position: absolute;
    top: 2361px;
    left: 298px;
    cursor:pointer;

}
.icon2{
    position: absolute;
    top: 2361px;
    left: 236px;
    cursor:pointer;
}
.icon1{
    position: absolute;
    top: 2360px;
    left: 179px;
    cursor:pointer;

}
.footer3{
    height: 128px;
    width: 1220px;
    background-color: #fff;
    padding-left: 178px;

}
.l1{
    border:0.5px solid #a3a3a2;
}
.p3{
    cursor:pointer;
}
.p7{
    cursor:pointer;
}

.p4{
    position: absolute;
    top: 2458px;
    left: 339px;
    cursor:pointer;
}
.p5{
    position: absolute;
    top: 2458px;
    left: 539px;
    cursor:pointer;
}
.p6{
    position: absolute;
    top: 2458px;
    left: 723px;
    cursor:pointer;
}
.p8{
    position: absolute;
    top: 2495px;
    left: 471px;
    cursor:pointer;
}
.p9{
    position: absolute;
    top: 2458px;
    left: 1074px;

}
.icon-last{
    
    height: 29px;
    position: absolute;
    top: 2473px;
    left: 1039px;

}
.icon-search{
    position: absolute;
    top: 30px;
    left: 929px;
    height: 21px;
    cursor:pointer;

}
.icon-location{
    position: absolute;
    top: 30px;
    left: 1014px;
    height: 20px;
    cursor:pointer;

}



